@model List<Persona>

@{
    ViewData["Title"] = " Lista de Personas ";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>DPI</td>
                <td>Edad</td>
                <td>Profesion</td>
            </tr>
        </thead>

        @foreach(var personaActual in Model)
        {
            <tr>
                <td>@personaActual.Nombre</td>
                <td>@personaActual.DPI</td>
                <td>@personaActual.Edad</td>
                <td>@personaActual.Profesion</td>
            </tr>
        }

    </table>
</div>